/*body{
	background: linear-gradient(-4deg, #ff0000, #0059ff, #23a6d5, #80f81086);
	background-size: 400% 400%;
	animation: gradient 36s ease infinite;
    height: 220vh;
}
@keyframes gradient {
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 100% 200%;
	}
	100% {
		background-position: 120% 250%;
	}
}*/
#orGate{
    background-color: rgba(255, 118, 6, 0.459);
    border-radius: 30px;
    margin: 5px;
    margin-top: 5vh;
    height: 100%;
}

#ANDGate{
    background-color: rgba(0, 0, 255, 0.438);
    border-radius: 30px;
    margin: 20px;
    height: 100%;
}
#notGate{
    background-color: rgba(107, 0, 98, 0.384);
    border-radius: 30px;
    margin: -1vh;
    margin-top: 8vh;
    height: 100%;
    padding-bottom: 20px;
}

.titles{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    color: rgb(0, 0, 0);
}


img{
    height: 10vh;
    margin-left: 2vh;
}
h3{
    padding-left: 1%;
}

#table01 {
    border-collapse: collapse;
    width: 100%;
  th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid #000000;
  }
  }

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        padding: 20px;
        text-decoration: none;
        border: none;
        font-size: 20px;
        margin: 20px;
        border-radius: 10px;
    }
}
.subBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
            padding: 15px;
            text-decoration: none;
            border: none;
            font-size: 20px;
            margin: 20px;
            border-radius: 10px;
        }
}